	<header>
			<% logo = image_tag("logo.png", :alt => "logo.png", :class =>"round")%>
			<%= link_to logo, root_path %>
			
			<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700">
			
			
			<nav class="round">
				<ul>
				<!--	<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Help", help_path %></li> -->
					<li><%= link_to "COMPANY", '#' %></li>
					<li><%= link_to "MISSION", '#' %></li>
					<li><%= link_to "DIRECTOR", '#'%></li>
					<li><%= link_to "INVESTOR", '#' %></li>
					<li><%= link_to "CONTACT", '#' %></li>

					<li><%= #link_to "Help", '#' 
					%></li>
					<li><%= #link_to "Sign In", '#'
					%></li>
				</ul>
			</nav>
	</header>